#home {
    /* border: 1px solid black; */
    position: relative;
    top: 15vh;
    width: 50vw;
    height: 85vh;
}


#add-task {
    width: 10vw;
    height: 5vh;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    position: relative;
    left: 20vw;
    background: #FCE145;
    font-size: 1.4vw;
}

#home-headline, #home-completed {
    text-align: left;
    margin-bottom: 2vh;
    text-decoration: underline;
}

a { 
    color: inherit;
    text-decoration: none;
} 

.active-li, .completed-li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1vh;
    text-decoration: none;
    overflow: none;
}

input[type=checkbox] {
    accent-color: #fce145;
    border: 1px solid black;
}

.active-name, .completed-name {
    font-size: 20px;
    position: relative;
    left: 2vw;
    color: black;
}

.active-checkbox, .completed-checkbox {
    width: 3vw;
    position: relative;
    right: 2vw;
}

#active-list {
    margin-bottom: 5vh;
}

